
<div class="box col-md-8 mx-auto">
  <h2>ユーザー情報</h2>
  <hr>
  <p>
    <strong>名前： </strong>
    <%= @owner.name %>
  </p>

  <p>
    <strong>メールアドレス： </strong>
    <%= @owner.email %>
  </p>
  <br>
  <p>
    <strong><%= @owner.name %>さんの愛犬たち</strong>
  </p>

  <% if @owner.users.count != 0 %>
    <%# Indexを呼び出す %>
    <%= render partial: "/users/index", locals: {users: @users} %>
  <% else %>
    <h6>まだ登録されていません</h6>
  <% end %>

  <hr>

  <%= link_to 'Edit', edit_owner_registration_path, class: "btn btn-primary btn-sm" %> 
  <%= link_to 'Back', users_path, class: "btn btn-secondary btn-sm" %>
</div>
