
<div class="box col-md-8 mx-auto">
  <h1>ユーザー情報</h1>
  <hr>
  <p>
    <strong><%= t 'activerecord.attributes.owner.name' %>： </strong>
    <%= @owner.name %>
  </p>

  <p>
    <strong><%= t 'activerecord.attributes.owner.email' %>： </strong>
    <%= @owner.email %>
  </p>
  <br>
  <p>
    <strong><%= @owner.name %>さんの愛犬たち</strong>
  </p>

  <% if @owner.users.count != 0 %>
    <%# Indexを呼び出す %>
    <%= render partial: "/users/index", locals: {users: @users} %>
  <% else %>
    <h6>まだ登録されていません。あなたの愛犬の情報をみんなで共有しましょう！</h6>
  <% end %>

  <hr>

  <%= link_to 'ユーザー情報編集', edit_owner_registration_path, class: "btn btn-primary" %> 
  <%= link_to "愛犬を登録", new_user_path, class: "btn btn-info" %>
  <%= link_to '戻る', users_path, class: "btn btn-secondary" %>
</div>
