<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <!--
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      -->

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li class="alert alert-warning"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :introduction %>
    <%= form.text_area :introduction, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <br>
    <%= form.file_field :avatar %>

  </div>
  <br>
  <% if user.avatar? %>
    <p style="margin: 0;">（現在登録中の写真）</p>
        <%= image_tag user.avatar.url if user.avatar.url? %>
    </div>
  <% end %>

  <p>
    <label>
      <%= form.check_box :remove_avatar %>
      写真を削除
    </label>
  </p>

  <br>
  <div class="actions">
    <%= form.submit "登録する", class: "btn btn-primary" %>
  </div>
<% end %>
