<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <!--
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      -->

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li class="alert alert-warning"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div class="avatar">
    <%= image_tag @user.avatar.url if @user.avatar? %>
  </div>

  <div class="actions">
    <%= form.submit "登録する", class: "btn btn-primary" %>
  </div>
<% end %>
