
<%# ページネーション %>
<%= paginate users %>

<%# テーブル %>
<div class="table-narrow table-responsive">
  <table class="table table-striped text-nowrap">
    <thead>
      <tr>
        <th colspan="1"></th>
        <th scope="col"><%= t('activerecord.attributes.user.name') %></th>
        <th scope="col"><%= t('activerecord.attributes.user.age') %></th>
        <th colspan="5"></th>
      </tr>
    </thead>
    <tbody>
      <%= flash[:warning] %>
      <% users.each do |user| %>
        <tr>
          <td><%= image_tag user.avatar.thumb.url if user.avatar? %></td>
          <td><%= user.name %></td>
          <td><%= user.age %></td>
          <td><%= link_to 'プロフィール', user, class: "btn shiney profile" %></td>
          <td><%= link_to '編集', edit_user_path(user), class: "btn shiney edit" if user.owner == current_owner %></td>
          <td><%= link_to '削除', user, method: :delete, data: { confirm: '削除してよろしいですか?' }, class: "btn shiney destroy" if user.owner == current_owner %></td>
          <td>
          <!-- 画像の表示はLityを利用 -->
          <%= link_to '写真を見る', user.avatar.url, 'data-lity': 'data-lity', class: "btn shiney zoom" if user.avatar? %>
        </tr>

      <% end %>
    </tbody>
  </table>

</div>
<%# テーブルここまで %>

<%# ページネーション %>
<%= paginate users %>


