<div class="box col-md-12">
  <div class="box col-md-8">

    <% if flash[:notice] %>
      <p id="notice" class="alert alert-secondary"><%= notice %></p>
    <% end%>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @user.age %>
    </p>

    <p>
      <%= image_tag @user.avatar.url if @user.avatar? %>
    </p>

    <hr>

    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary btn-sm" %> 
    <%= link_to 'Back', users_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>