
<div class="box col-md-8 mx-auto">
  <h1>愛犬プロフィール</h1>
  <hr>

  <p>
    <strong>飼い主:</strong>
    <%= @user.owner.name %>
  </p>

  <p>
    <strong>名前:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>年齢:</strong>
    <%= @user.age %>
  </p>

  <p>
    <%= image_tag @user.avatar.url if @user.avatar? %>
  </p>

  <%# いいねボタンを表示 %>
  <div class="like-buttons">
    <%= render partial: '/likes/like',locals: {user: @user} %>
  </div>

  <hr>
  <% if @user.owner == current_owner %>
    <%= link_to '愛犬情報編集', edit_user_path(@user), class: "btn btn-primary btn-sm" %> 
  <% end %>
  <%= link_to '戻る', users_path, class: "btn btn-secondary btn-sm" %>
</div>
