<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="header">
  <%= link_to "Dogs", users_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse shift" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          ホーム <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <% if signed_in? %>
        <li class="nav-item">
          <%= link_to "愛犬登録", new_user_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー情報", current_owner, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_owner_session_path, method: "delete", class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%# ログインフォームをモーダル化 %>
          <%= link_to "ログイン", '', class: "nav-link", "data-toggle": "modal", "data-target": "#signinModal" %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー登録", new_owner_registration_path, class: "nav-link" %>
        </li>
        &ensp;
      <% end %>
    </ul>
    <%= form_tag(users_path, method: "get", class: "form-inline my-2 my-lg-0") do %>
      <%= text_field_tag :name, '', class: "form-control mr-sm-2", placeholder: "犬の名前で検索" %>
      
      <!-- Userモデルのageカラムを取り出し、重複を除く -->
      <% age_distinct = [] %>
      <% User.select("age").distinct.each do |a|  %>
        <% age_distinct << [a.age, a.age] %>
      <% end %>

      <%= select_tag :age, options_for_select(age_distinct, selected: params[:age]), class: "form-control", prompt: "年齢で検索..." %>
      &ensp;
      <%= submit_tag '検索', class: "btn btn-outline-success my-2 my-sm-0 slide" %>
    <% end %>
  </div>
</nav>

<%# ログインフォームモーダル %>
<%= render partial: '/devise/sessions/new' %>