<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Dogs information</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Lity -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lity/1.6.6/lity.js'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/lity/1.6.6/lity.css' />  

    <%# Bootstrap ver.4 %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
    
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <%# CSS %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%# フォント %>
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Varela+Round" rel="stylesheet">
  </head>

  <body>
    <!-- As a link -->
    <%# ナビゲーションバー %>
    <header>
      <%= render partial: '/layouts/header' %> 
    </header>
    
    <div class="containerfluid">
      <div class="row">
        <div class="box col-md-12 mx-auto">

          <%# flashメッセージを表示 %>
          <!-- <%= devise_error_messages! %> -->

          <% flash.each do |key, value| %>
            <% if flash[key] != "" %>
              <div class="alert <%= bootstrap_class_for(key) %>">
                <%= value %>
              </div>
            <% end %>
          <% end %>

          <%# ここにほかのビューが挿入される %>
          <%= yield %>
        
          <%# デバッグ %>
          <%= debug params if Rails.env.development? %> 
        </div>
      </div>
    </div>
      
  </body>
</html>
